<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<properties>
		<property name="filename">logs/ping_service.log</property>
		<property name="pattern">%d{yyyy-MM-dd HH:mm:ss.SSS} | %-5.5p | %-10.10t | %-20.20C:%-5.5L | %msg%n</property>
	</properties>
	<appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="${pattern}"/>
		</Console>
		<File name="LogFile" fileName="${filename}">
			<PatternLayout pattern="${pattern}"/>
		</File>
		<Syslog name="Syslog" host="localhost" port="514" protocol="UDP" appName="m2mp_checker" />
	</appenders>
	<loggers>
		<root level="debug">
			<appender-ref ref="Console"/>
			<appender-ref ref="LogFile"/>
		</root>
	</loggers>
</configuration>
